<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="z.talent.tengyu.mapper.EnglishReadDataMapper">


	<select id="getEnglishReadDataByPageIdAndUserId" resultType="int">
	    SELECT
	    	  count(*)
	    FROM englishreaddata
	    WHERE pageid = #{pageid} and userid = #{userid}  and createtime = #{time}
  	</select>
  	

	<delete id="DeleteEnglishReadDataByUuid">
	    DELETE 
	    FROM englishreaddata
	    WHERE uuid = #{uuid}
  	</delete>
  	
  	


	<select id="getEnglishReadDatas" resultType="z.talent.tengyu.bean.EnglishReadData">
	  SELECT
	  	 sum(readtime) as readtime,
	     createtime
	  FROM englishreaddata  group by createtime  order by createtime  desc limit #{limit} offset #{offset} 
	</select>

	
	 <select id="getEnglishReadDataCounts" resultType="int">
	    SELECT
	      count(*)
	    FROM englishreaddata 
	  </select>
	
	  <insert id="insertEnglishReadData" parameterType="z.talent.tengyu.bean.EnglishReadData">
	    INSERT INTO englishreaddata
	      (  pageid,
	      	 readtime,
	          createtime,
	          uuid,
	          userid)
	    VALUES
	      (#{pageid},#{readtime}, #{createtime}, #{uuid}, #{userid})
	  </insert>
	  
	  <update id="updateEnglishReadData">
	  	UPDATE englishreaddata
        SET readtime = readtime+1 
        WHERE pageid = #{pageid} and userid = #{userid} and createtime = #{time}
	  </update>
	
</mapper>  